.main-container{
    margin: 40px auto;
    width: 70%;
}
.payment-completed{
    margin-top: 50px;
    width: 500px;
    display: none;
}
.pageProcessCover{
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #fff;
    opacity: 0.4;
    height: 100vh;
    z-index: 100;
    margin: 0 auto;
    .center-point{
        position: absolute;
        top: 45%;
        left: 45%;
        margin: 0 auto;
    }
}