
<div class="container">
  <div class="container-grid">
    <div class="form-grid">
      <form [formGroup]="updateForm" (ngSubmit)="updateAccount(updateForm.value)">
        
      <input hidden type="text" formControlName="id">
      <div id="card" class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-9">
              <h2>Personal Information</h2>
            </div>
            <div class="col-3">
              <button mat-raised-button type="submit" >Save Changes</button>
            </div>
            
          </div>
        </div>
        <div class="card-block">
           <div class="form-group row">
              <label for="example-text-input" class="col-3 col-form-label">Title</label>
              <div class="col-9">
                <input class="form-control" type="text" formControlName="title" value="Mr" id="example-text-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-firstname-input" class="col-3 col-form-label">First Name</label>
              <div class="col-9">
                <input class="form-control" type="text" formControlName="first_name" value="How do I shoot web" id="example-search-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-lastname-input" class="col-3 col-form-label">Last Name</label>
              <div class="col-9">
                <input class="form-control" type="text" formControlName="last_name" value="bootstrap@example.com" id="example-email-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-email-input" class="col-3 col-form-label">Email</label>
              <div class="col-9">
                <input class="form-control" type="email" formControlName="email" value="https://getbootstrap.com" id="example-url-input">
              </div>
            </div>
            <div formGroupName="telephone">
              <div class="form-group row">
                <label for="example-tel-input" class="col-3 col-form-label">Home telephone</label>
                <div class="col-9">
                  <input class="form-control" type="tel" formControlName="home"  id="example-tel-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-3 col-form-label">Mobile phone</label>
                <div class="col-9">
                  <input class="form-control" type="tel" formControlName="mobile" id="example-tel-input">
                </div>
              </div>
            </div>
        </div>
      </div>
     
      
      <div class="jumbotron" formGroupName="billing_address">
        <h2>Billing Address</h2>
        <div class="form-group row">
          <label for="address-input" class="col-2 col-form-label">Address</label>
          <div class="col-10">
            <input class="form-control" type="text" formControlName="address" value="2011-08-19T13:45:00" id="example-datetime-local-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="address2-input" class="col-2 col-form-label">Address2</label>
          <div class="col-10">
            <input class="form-control" type="text" formControlName="address2" value="2011-08-19" id="example-date-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="city-input" class="col-2 col-form-label">City</label>
          <div class="col-10">
            <input class="form-control" type="text" formControlName="city" value="2011-08" id="example-month-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="post-code-input" class="col-2 col-form-label">Post Code</label>
          <div class="col-10">
            <input class="form-control" type="taxt" formControlName="post_code" value="2011-W33" id="example-week-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="country-input" class="col-2 col-form-label">Country</label>
          <div class="col-10">
            <input class="form-control" type="text" formControlName="country" value="13:45:00" id="example-time-input">
          </div>
        </div>
      </div>
      
      <div>
          <mat-checkbox (change)="onChanges($event)">Edit / Add Delivery Address</mat-checkbox>
      </div>

      <div id="delivery-address" class="card" formGroupName="delivery_address">
        
        <div class="card-block">
          <div class="card-title">
            <h2>Delivery Address</h2>
          </div>
          <div class="form-group row">
            <label for="fullname-input" class="col-2 col-form-label">Full Name</label>
            <div class="col-10">
              <input class="form-control" type="text" formControlName="full_name" value="2011-08-19T13:45:00" id="example-datetime-local-input">
            </div>
          </div>
          <div class="form-group row">
          <label for="address-input" class="col-2 col-form-label">Address</label>
          <div class="col-10">
            <input class="form-control" type="text" formControlName="address" value="2011-08-19T13:45:00" id="example-datetime-local-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="address2-input" class="col-2 col-form-label">Address2</label>
          <div class="col-10">
            <input class="form-control" type="text" formControlName="address2" value="2011-08-19" id="example-date-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="city-input" class="col-2 col-form-label">City</label>
          <div class="col-10">
            <input class="form-control" type="text" formControlName="city" value="2011-08" id="example-month-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="post-code-input" class="col-2 col-form-label">Post Code</label>
          <div class="col-10">
            <input class="form-control" type="taxt" formControlName="post_code" value="2011-W33" id="example-week-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="country-input" class="col-2 col-form-label">Country</label>
          <div class="col-10">
            <input class="form-control" type="text" formControlName="country" value="13:45:00" id="example-time-input">
          </div>
        </div>
        </div>
      </div>
      </form>
    </div>
    <div class="aside-grid">
      <checkout-progress></checkout-progress>
    </div>
  </div>
  <div class="continue-button">
    <a mat-raised-button>Continue</a>
  </div>
  
</div>
