<div class="moby">
    <mobile-menu></mobile-menu>
</div>
<div class="container product-offer-container page-rule">

    <div class="d-flex flex-wrap flex-row justify-content-between">
        <div class="p-2 product-offer">
            <div class="top-offer hide-on-mobile">
                <h1>Clearance</h1>
            </div>
            <div class="offer-baner hide-on-mobile">
                <!-- <carousel>
                    <slide *ngFor="let ad of offerad$">
                        <img [src]=ad.photo_url alt="First slide">
                    
                    </slide>
                </carousel> -->
            </div>
            <div class="product-list d-flex align-content-stretch flex-row flex-wrap">
                <mat-card class="carosel-image hide-on-mobile">
                    <!-- <img [src]=offerad$.photo_url alt="First slide"> -->
                    <nge-carousel  *ngIf="offerad$"
                        [images]="offerad$">
                    </nge-carousel>
                    <!-- <carousel>
                        <slide *ngFor="let ad of offerad$">
                            <img [src]=ad.photo_url alt="First slide">
                            <div class="carousel-caption">
                            <h3>{{ad.title}}</h3>
                            <p>{{ad.sub_title}}</p>
                            </div>
                        </slide>
                    </carousel> -->
                </mat-card>
                <div class="product-item p-2" *ngFor="let product of products | paginate: {itemsPerPage:pageSize, currentPage: page}">
                    
                    <mat-card class="example-card product">
                        <div *ngIf="product.offer == 'yes'" class="shop-offer"><p>Offer</p></div>
                        <div class="inyourcart" *ngFor="let cart of carts$">
                            <mat-icon *ngIf="cart.name == product.name">shopping_cart</mat-icon>
                            <span *ngIf="cart.name == product.name" class="cart-no">{{cart.qty}}</span>
                        </div>
                        <div [style.min-height.px]="60">
                        <img (click)="viewProduct(product)" mat-card-image  [src]="product.imageUrl">

                        </div>
                        
                        <mat-card-content>
                        <h1 id="title">{{product.name}}</h1>
                        <p id="size">( {{product.description.size}} )</p>
                        <p id="price">{{product.price | currency: 'GBP': 'true'}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <a role="button" color="accent" (click)="addToCart(product)"  mat-raised-button >Add</a>
                        </mat-card-actions>
                        <div class="inCart-wrapper">
                            <div class="inCart-select" >
                                <p *ngIf="product.stock > 0" id="inCart">{{product.stock}} in stock</p>
                                <p [style.color]="'red'" *ngIf="product.stock < 1" id="inCart">Out of stock</p>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
             <!-- Implementing pagination -->
             <div class="pagination hide-on-mobile">
                <pagination-controls (pageChange)="page = $event" class="pg-pagination"></pagination-controls>
              </div>
            <!-- Pagination ends -->
        </div>
        <div class="p-2 right-widget">
            <widget-right></widget-right>
            <div class="post-box card" *ngIf="cartErrorMsg">
                <div class="card-body" >
                        <p>{{cartErrorMsg}}</p>
                        <mat-input-container>
                            <input #postcode type="text" matInput name="postcode" placeholder="Your Postcode">
                        </mat-input-container>
                        <a (click)="submitPostcode(postcode.value)" mat-raised-button>Check</a>
                    </div>
            </div>
        </div>
    </div>
    
</div>