<div class="main-menu">
    <primary-navigation></primary-navigation>
</div>
<div class="mobile-menu">
    <mobile-menu></mobile-menu>
</div>
<div class="header-content mobile-margin-top w3-card-2">
  <div class="container">
    <div class="d-flex flex-wrap flex-row justify-content-between welcome-container">
      <div class="p-2 welcome-msg">
        <h1>Welcome to uRGy</h1>
        <p><strong>
          Shop here and we will deliver straigth to your door.
          <small>Please enter your postcode to make sure we deliver to you</small>
        </strong></p>
        <post-code [requestPost]="openPostInput"></post-code>
        <a color="primary" mat-raised-button (click)="openPostBox()">Check your postcode</a>
        <!-- <div class="request-postcode">  
            <mat-input-container>
              <input #postcode type="text" matInput name="postcode" required placeholder="Enter Postcode">
            </mat-input-container>
            <a (click)="submitPostcode(postcode.value)" color= "primary" mat-raised-button> <span>Check <i *ngIf="searchingPostcode" class="fa fa-spin fa-spinner" aria-hidden="true"></i></span></a>
        </div>
        
        <p id="succMsg" *ngIf="successMsg">{{successMsg}}</p>
        <p id="errMsg" *ngIf="emptyErr">{{emptyErr}}</p> -->
        <div class="c-shopping">
          <p>Want to look around first ?</p>
          <a (click)="continueShop()" role="button" class="btn btn-success">Go Shopping </a>
        </div>
        
        <div class="customer-login">
          <p>Already a Customer</p>
          <a (click)="gotoLogin()"> {{userlogin}}</a>
          <!-- <mat-icon>vpn_key</mat-icon> -->
        </div>
      </div>
      <div  class="p-2 welcome-slider">
        <nge-carousel
          [images]="ads"
          [options]="options">
        </nge-carousel>
       
      </div>
    </div>
  </div>
</div>
<!-- <confirm-alert></confirm-alert> -->

<div class="container page-rule">
  <div class="grid-container d-flex flex-wrap flex-row justify-content-between">
    <div class="grid-1 p-2">
        <h1>Shopping Assistance</h1>
        <div class="grid-set-1 d-flex flex-row align-self-stretch">
          <div class="p-1">
            <mat-icon>transfer_within_a_station</mat-icon>
          </div>
          <div class="p-2">
              <p>Our friendly drivers are on hand at your doorstep to answer any questions you might have</p>
          </div>
        </div>
        <a mat-raised-button>more</a>
    </div>
    <div class="grid-2 p-2">
      <h1>Home Delivery</h1>
      <div class="grid-set-2 d-flex flex-row align-self-stretch">
        <div class="p-1">
          <mat-icon>airport_shuttle</mat-icon>
        </div>
        <div class="p-2">
            <p>Buy uRGy groceries online for delivery straight to your door where ever you leave in the UK.</p>
        </div>
      </div>
      <a mat-raised-button>read more</a>
      
    </div>
    <div class="grid-3 p-2">
        <h1>Cooking Video</h1>
        <div class="grid-set-3 d-flex flex-row align-self-stretch">
          <div class="p-1 icon-container">
            <mat-icon class="icon-main">personal_video</mat-icon>
            <div class="icon-cover"></div>
          </div>
          <div class="p-2">
              <p>We make some cooking videos on how to make differnt kind of food including their condiments and provision to order them on the fly.. check it out</p>
          </div>
        </div>
        <a routerLink="/instruction_video" mat-raised-button>Watch</a>
    </div>
  </div>
  
  <!-- <button mat-raised-button (click)="onButtonClick()" > Create Client</button>
  <button mat-raised-button > Google Logout</button>
  <a mat-mini-fab ><mat-icon>clear</mat-icon></a> -->

  <div class="d-flex flex-row justify-content-between hero-ad-container">
    <div class="p-2">
      <img src="assets/foodadvert-1.jpeg" alt="">
    </div>
    <div class="p-2">
        <img src="assets/foodadvert-2.jpeg" alt="">
    </div>
  </div>

</div>
