<div class="main-menu">
        <primary-navigation></primary-navigation>
    </div>
    <div class="mobile-menu">
        <mobile-menu></mobile-menu>
    </div>
 <div class="main-container">  
    <div *ngIf="selectedProduct" class="container">
        <p><a (click)="back()" mat-mini-fab ><mat-icon>arrow_back</mat-icon></a> <small>{{selectedProduct.category}}</small> > {{selectedProduct.name}}</p>
        <div class="d-flex flex-row flex-container">
            <div class="p-2 flex-left-content">
                <div class="d-flex flex-row flex-left-content-inner">
                    <div class="p-2 right-image-widget">
                        <div *ngIf="selectedProduct.offer == 'yes'" class="product-offer"><p>Offer</p></div>
                        <div class="prod-left-image">
                            <img [src]="selectedProduct.imageUrl">
                        </div>
                        
                        <div class="left-side-ad">
                            <widget-left></widget-left>
                        </div>
                    
                    </div>
                    <div class="p-2 center-content">
                        <div class="d-flex flex-row">
                            <div class="p-2 title"><h1>{{selectedProduct.name}}</h1></div>
                            <div class="p-2 code"><p><strong>Product Code:</strong> {{selectedProduct.code}}</p></div>
                        </div>
                        <h1 id="price">Price: {{selectedProduct.price | currency: 'GBP' :true}}</h1>
                        <p>( {{selectedProduct.description.size}} )</p>
                        
                        <a *ngIf="selectedProduct.stock > 0" role="button" (click)="addToCart()" mat-raised-button > Add to Cart</a>
                        <a *ngIf="selectedProduct.stock < 1"  role="button" style="background-color: red" [style.color]="'lightgray'" mat-raised-button >sorry!</a>
                        <small *ngIf="selectedProduct.stock < 1" style="color: red">Out of stock</small>
                        <div class="inCart-wrapper" *ngFor="let cart of carts$">
                            <div *ngIf="cart.name == selectedProduct.name">
                                <!-- <p id="inCart">{{cart.qty}} in cart</p> -->
                                <p id="inCart" class="p-2">
                                    <span>{{cart.qty}} in</span>
                                    <mat-icon>shopping_cart</mat-icon>
                                </p>

                            </div>
                        </div>
                        <div id="post-code-msg" *ngIf="cartErrorMsg">
                            <!-- <p>{{cartErrorMsg}}</p> -->
                            <post-code [requestPost]="openPostInput"></post-code>
                            <!-- <mat-input-container>
                                <input #postcode type="text" matInput name="postcode" placeholder="Your Postcode">
                            </mat-input-container>
                            <a (click)="submitPostcode(postcode.value)" mat-raised-button>Check</a> -->
                        </div>
                    <div *ngIf="selectedProduct" class="product-details">
                        <br><br>
                        <div class="nutrition-table">
                            <h1>Nutrition</h1>
                            <div class="nutrient-container">
                                <div class="energy">
                                    <h2>energy</h2>
                                    <p>{{selectedProduct.nutrition.energy}}</p>
                                </div>
                                <div class="fat">
                                    <h2>fat</h2>
                                    <p>{{selectedProduct.nutrition.fat}}</p>
                                </div>
                                <div class="saturated">
                                    <h2>saturates</h2>
                                    <p>{{selectedProduct.nutrition.saturates}}</p>
                                </div>
                                <div class="sugar">
                                    <h2>sugar</h2>
                                    <p>110</p>
                                </div>
                                <div class="salt">
                                    <h2>salt</h2>
                                    <p>{{selectedProduct.nutrition.salt}}</p>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="description-contianer">
                            <div class="tab-wrapper">
                                <div (click)="showDescription()" class="descr">Description</div>
                                <div (click)="showReview()" class="revw">Reviews</div>
                            </div>
                            <div class="section-content">
                                <div *ngIf="description" class="decriptions">
                                
                                    <h1>Description</h1>
                                    <p>{{selectedProduct.description.detail}}</p>
                                    <p><strong>Origin:</strong> {{selectedProduct.description.origin}}</p>
                                </div>
                                <div *ngIf="review" class="reviews">
                                
                                    <h1>product Reviews</h1>
                                    <mat-checkbox (change)="showReviewForm($event)" >Please add your review to this product</mat-checkbox>
                                    <span *ngIf="userErr"><p id="error-msg" >{{userErr}}</p> <small (click)="redirectLogin()" >Sign In here</small> </span>
                                    <form *ngIf="showForm" class="example-form" [formGroup]="reviewForm" (ngSubmit)="addReviews(reviewForm.value)">
                                        <input hidden formControlName="user">
                                        <input hidden formControlName="productId">
                                        <input hidden formControlName="productName">
                                
                                        <mat-input-container>
                                            <input formControlName="userName" matInput placeholder="Nickname" value="">
                                        </mat-input-container>
                                        <p>
                                            <mat-input-container class="example-full-width">
                                                <textarea formControlName="comment" matInput #comment maxlength="256" placeholder="Your Review"></textarea>
                                                <mat-hint align="start"><strong>Please tell us what you think about this product</strong> </mat-hint>
                                                <mat-hint align="end">{{comment.value.length}} / 256</mat-hint>
                                            </mat-input-container>
                                        </p>
                                        <div id="submit-btn">
                                            <button type="submit" mat-raised-button>Submit</button>
                                        </div>
                                        <span *ngIf="errMsg"><p id="error-msg" >{{errMsg}}</p> </span>
                                    </form>
                                    <div class="product-review">
                                        <app-reviews [Id]="selectedProduct._id"></app-reviews>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    </div>
                </div>
            
            </div>
            <div class="p-2 flex-right-widget">
                <widget-right></widget-right>
            </div>
        </div>
        
    </div>
</div>
<div class="reconmend-product-wrapper container-fluid page-rule">
    <div class="d-flex container">
        <span class="p-2"><h1 id="r-title">Reconmended for you</h1></span>
        <span class="p-2 icon-T"><mat-icon >thumb_up</mat-icon></span>
    </div>
    <div  class="container reconmend-product d-flex justify-content-between">
        <div  *ngFor="let recomend of reconmendProduct$" class="d-flex p-2 w3-card-2 rec-prod">
            
            <div class="p-2">
                <img (click)="reconmendFunction(recomend)" [src]=recomend.imageUrl class="img-fluid" alt="Product image">
            </div>
            <div class="p-2">
                <h1>{{recomend.name}}</h1>
                <p id="size">({{recomend.description.size}})</p>
                <p id="price">{{recomend.price | currency: 'GBP': true}}</p>
                <a (click)="reconmendFunction(recomend)" class="primary-color" mat-raised-button>Add</a>
            </div>
        </div>
        
    </div>
</div>
<!-- <footer-menu></footer-menu> -->