.page-container{
    min-height: 500px;
    padding-top: 40px;
    // max-width: 800px;
    h1{
        font-size: 18px;
        font-family: 'Open Sans Regular', sans-serif;
        margin: 0px;
        margin: 10px 0px 5px 0px;
    }
    p{
        font-size: 12px;
        font-family: 'Open Sans Light', sans-serif;
        margin: 0px;
        padding: 0px;
    }
    #term-body{
        h1{
            font-size: 18px;
            font-family: 'Open Sans Regular', sans-serif;
            margin: 0px;
            margin: 10px 0px 5px 0px;
        }
        p{
            font-size: 12px;
            font-family: 'Open Sans Light', sans-serif;
            margin: 0px;
            padding: 0px;
        }
    }
}