div#cart-item{
    // border-bottom: 1px solid lightgrey;
    background-color: lightgrey;
    margin: 2px 0px;
    img{
        width: 50px;
    }
    
}
div.p-2{
    // width: 100%; 
}
div#sum-basket{
    h1{
        font-size: 16px;
    }
}
div#cart-name{
    position: relative;
    float: left;
    padding-top: 20px;
    margin: 10px 0px;

}