<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h1>Your Basket</h1>
    <div id="sum-basket"><h1>Basket Total: {{totalBask | currency:'GBP':true}}</h1></div>
  </div>
  <div class="card-block">
   <div *ngFor="let cart of cart$" class="d-flex flex-row justify-content-between"  id="cart-item">
    <div class="p-2">
      <img [src]="cart.imageUrl" alt="Product Image">
    </div>
  
    <div id="cart-name" class="p-2">
      {{cart.name}}
    </div>
    <div id="cart-name" class="p-2">
      {{cart.price | currency: 'GBP': true}}
    </div>
  </div>
  <div class="jumbotron">
    <div>
      <!-- <p>Gross Total: £ <cart-total></cart-total></p> -->
      <p>Delivery: {{delivery}}</p>
      <h2>Ground Total: {{totalBask | currency:'GBP':true}}</h2>
    </div>
  </div>
 </div> 
</div>
 