 <div class="sub-toolbar"> 
    <div class="container">
        <div class="navigation">
            <div class="nav-item active" (click)="frozenFood()">Frozen Food</div>
            <div class="nav-item" (click)="dryFood()">Dry Food</div>
            <div class="nav-item" (click)="beverages()">Beverages</div>
            <div class="nav-item" (click)="drinks()">Drink</div>
            <div class="nav-item" (click)="ingredients()">Ingredients</div>
            <div class="nav-item" (click)="bakery()">Bakery</div>
        </div>
    </div>
    
</div>