md-toolbar{
    background-color: #fff !important;
    color: #000 !important;
    height: 120px;
    margin: 0px !important;
    padding: 0px !important;
    .mat-toolbar-row {
      
    }
    .top-menu{
        display: flex;
       
        .spacer{
            flex: 1;
        }
    }
   
}
.authentication{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    
    .login-provider{
        position: absolute;
        top: 30%;
        left: 50%;
        width: 500px;
        margin-left: -250px;
        background-color: slategrey;
        p{color: #fff;}
    }
}

.tool-bar-top{
    position: absolute;
    top: -10px;
    right: 15px;
    
    margin: 0px !important;
    padding: 0px !important;
    .tool-bar-wrapper{
        margin: 0px;
        padding: 0px;
        background-color: slategray;
        .sign-in,.basket,.get-help{
            height:35px;
        }
        .sign-in{
            background-color: green;
            
        }
        .basket{
            background-color: #000;
            color: #fff;
            padding-top: 5px;
            md-icon{
                font-size: 14px;
            }
            span{
                font-size: 14px;
                color: #fff;
            }
         
        }
        .get-help{
            background-color: goldenrod;
      
        }
    }
}
.search-form{
    position: absolute;
    top: 60px;
    right: 15px;
    height: 40px;
    .input-group{
        border-radius: 0;
        .form-control {
           border-radius: 0; 
           height: 40px;
        }
        .input-group-btn{
            height: 40px;
            border-radius: 0;
            md-icon{
                margin: 0px;
                padding: 0px;
                padding-top: 5px;
                font-size: 18px;
            }
        }
    }
}