<div class="xpandable-panel">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
            Delivery Options
            </mat-panel-title>
            <mat-panel-description>
            
            </mat-panel-description>
        </mat-expansion-panel-header>
        <h4>Standard Delivery</h4>
        <small>£3.75 of free when you spen £45 or more</small>
        <h4>Next Day Delivery</h4>
        <small>£4.75 place order before 7pm for next day delivery</small>
        <h4>1 Hour Delivery</h4>
        <small>£10.75 we make sure your goods get to you within an hour. </small>
    </mat-expansion-panel>
</div>