<div id="post-alert" class="post-code-container">
    <div class="card text-center">
        <div class="card-header">
          <span class="d-flex head flex-row justify-content-start">
            <span *ngIf="!succex" class="p-2"><p>Postcode Check!</p></span>
            <span *ngIf="succex" class="p-2"><p>Congratulations!!</p></span>
            <span class="p-2 ml-auto"><md-icon (click)="closeX()">clear</md-icon></span>
          </span>
        </div>
        <md-progress-bar *ngIf="spinning" color="accent" mode="indeterminate"></md-progress-bar>
        <div class="card-body">
          <h4 class="card-title">{{inputLabel}}</h4>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <div class="form-group">
            <!-- <label for="exampleFormControlInput1">Post Code</label> -->
            
            <input #postcode type="text" class="form-control" id="exampleFormControlInput1" placeholder="post code">
          </div>
          <a (click)="setPostcode(postcode.value)" md-raised-button color="primary" >Check</a>
        </div>
        <div class="card-footer text-muted">
          <p *ngIf="succex">yes we can deliver to you..</p>
          <p >{{failureMsg}}</p>
        </div>
    </div>
</div>