<!-- <secondary-navigation></secondary-navigation> -->
<div class="container">
    
    <div class="header">
        <h3>Reset Your Password</h3>
        <p>{{notify}}</p>
    </div>
    <div *ngIf="!hidePage" class="jumbotron card">
        
        <mat-input-container *ngIf="email" class="input-full-width">
        <span matPrefix><mat-icon>lock_outline</mat-icon> &nbsp;</span>
        <input type="email" value={{email}} matInput placeholder="Email">
        </mat-input-container>
        <mat-input-container class="input-full-width">
            <span matPrefix><mat-icon>lock_outline</mat-icon> &nbsp;</span>
            <input #password type="password" matInput placeholder="Enter New Password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-input-container>
        <mat-input-container class="input-full-width">
            <span matPrefix><mat-icon>lock_outline</mat-icon> &nbsp;</span>
            <input #repeatPassword type="password" matInput placeholder="Repeat New Password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-input-container>
        <div class="submit-btn">
            <button mat-raised-button (click)="passwordReset(password.value, repeatPassword.value)"> Reset Password</button>
        </div>
       
    </div>
</div>