// Styling the sticky menu

.sticky-menu-container{
    display: none;
    position: fixed;
    margin-top: 0px;
    background-color: #ffffff;
    border-bottom: 1px solid #00796B;
    width: 100%;
    transition: 0.2s;
    height: 60px;
    padding-top: 10px;
    .mat-toolbar{
        position: relative;
        width: 100%;
        // display: none;
        // padding: 0px !important;
        // margin: 0px !important;
        background-color: transparent;
        margin-top: -100px;
        transition: 0.2s;
        transition-timing-function: linear;
        .mat-toolbar{
            // width: 90%;
            background: transparent;
            margin: 0px !important;
            padding: 0px !important;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: center;
            // -webkit-flex-flow: row wrap;
            // align-content: space-between;
            align-items: stretch;
            // margin: 0 auto;
            // flex-direction: row-reverse;
            .item1{
                flex: 1;
                // margin: 0 auto;
                h1{
                    font-size: 38px;
                    font-family: 'Dosis', sans-serif;
                    font-weight: bold;
                    color: #00796B;
                }
                margin-left: 20px;
            }
            .item2{
                // position: relative;
                flex: 1;
                // margin: 0 auto;
                font-size: 14px;
                // width: 400px;
            }
            .item3{
                flex: 1;
                position: relative;
                .notify{
                    position: relative;
                    float: right;
                    font-size: 14px;
                    font-family: 'Open Sans Regular', sans-serif;
                    // right: 10px;
                }
            
            }
        }
    }
}

.sub-toolbar{
    display: flex;
    display: -webkit-flex;
    height: 40px;
    background-color: #000000;
    line-height: 40px;
    color:#fff;
    .side-menu-btn{
        mat-icon{
            color: #00796B;
            font-weight: bold;
            
        }
    }
    border-radius: 4px;
    transition: .5s;
    &:hover{
        .side-menu-btn{
            mat-icon{
                color: #f15a23;
                font-weight: bold;
                
            }
        }
        border-radius: 10px;

    }
}


.active {
    background-color: #f5f5f5;
    height: 40px;
    color: #00796B !important;
}

//Custom and main navigation
.nav-menu{
    background-color: rgb(211, 209, 209);
    height: 40px;
    .nav-content{
        padding: 0px;
        .nav-item a{
            color: black;
            height: 40px;
            font-family: 'Dosis', sans-serif;
            font-weight: 500;
            font-size: 1em;
            text-transform: uppercase;
            &:hover{
                cursor: pointer;
                color: #00796B !important;
            }
        }
        #how-to{
            background-color: #00796B !important;
            a{
                color: #fff !important;
                font-weight: bold;
                i{
                    padding-left: 5px;
                }
            }
            &:hover{
                cursor: pointer;
                a{color: lightblue !important;}
        
            }
        }
        #best-offer{
            background-color: red;
            a{
                background-color: red;
                color: #ffffff;
                line-height: 40px;
                height: 40px;
                padding: 0 10px;
                font-family: 'Open Sans Regular', sans-serif;
                text-transform: uppercase;
            }
        }
    }
}
//How to pop page control
.howTo-video{
    display: none;
    background-color: #00796B;
    min-height: 200px;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    z-index: 100;
    .how-to-do{
        
    }
}
//Displaying Brands
.brand-list{
    position: absolute;
    display: none;
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
    transition: height 1s;
    z-index: 10;

}
div.brands{
    #brand-item{
        background-color: #ffffff;
        margin-right: 4px;
        margin-top: 4px;
        text-align: center;
        padding: 10px;
        p, small{
            padding: 0px;
            margin: 0px;
        }
        &:hover{
            text-decoration: underline;
            color: #00796B;
            cursor: pointer;
        }
    }
    #brand-item:first-child{
        // background-color: #00796B;
    }
    #brand-item:last-child{
        margin-right: 0px;
        // background-color: red;
    }
    
}
