
div.tool-bar-wrapper{
    height: 40px;
    line-height: 40px;
}
.register, .basket, .get-help, .orders, .favourites, .shopping-list{
    // flex: 1;
    padding: 0 10px;
    a{
        text-decoration: none;
        color: #000;

    }
}
.orders, .favourites, .shopping-list{
    background-color: lightgrey;
    margin-right: 2px;
    a{
        color: #000;
        font-family: 'Open Sans Regular', sans-serif;
    }
}
.account{
    background-color: #00796B;
    height: 40px;
    padding: 0px;
    margin: 0px;
    padding: 0 10px;
    color: #fff;
    border: none;
    // .btn-group a{
    //     position: relative;
    //     border: none;
    //     border-radius: 0px;
    //     margin: 0px;
    //     background-color: transparent;
    //     // color: #000;
    //     .dropdown-menu{
    //         position: relative;
    //         z-index: 1000;
    //     }
    //     md-icon{

    //     }
    // }
    a{
        // padding: 5px;
        text-decoration: none;
        color: #000;
        // font-size: 14px;
        font-family: 'Open Sans Regular', sans-serif;
        span{
            color: #fff;
            padding: 5px;
            // margin-right: 5px;
        }
    }
}
.register{
    background-color: lightgrey;
    margin-left: 0px;
    color: #fff;
    font-size: 12px;
}
// .account{
//     border-bottom: 1px solid lightgray;
//     border-left: 1px solid lightgray;
//     font-size: 12px;
// }
.get-help{
    display: flex;
    background-color: #FF9100;
    p{ 
        padding: 0px; margin: 0px; margin-right: 2px;
        font-family: 'Open Sans Regular', sans-serif;
    }
    md-icon{
        font-size: 18px;
        padding: 0px;
        margin-top: 10px;
    }
}
div.basket{
    display: flex;
    background-color: black;
    color: #fff;
    height: 40px;
    md-icon{
        font-size: 16px;
        padding: 0px;
        margin-top: 11px;
    }
    span#all-price p{
        padding: 0px;
        margin: 0px;
        font-size: 12px;
        color: #fff;
    }
    .d-flex{
        margin: 0px !important;
        padding: 0px !important;
        .p-2{
            margin: 0px !important;
            padding: 0px !important; 
        }
    }
}
#cart-option{
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: #000000;
    color: #ffffff;
    width: 200px;
    transition: 2s;
    // height: 100%;
    // padding: 10px;
    z-index: 1000;
    // margin-top: -100px;
    a{
        font-size: 12px;
        padding: 0px;
        margin: 0px;
    }
    md-icon{
        padding: 0px !important;
        margin: 0px !important;
        font-size: 10px !important;
    }
    p{
        background-color: red;
        width: 200px;
        font-family: 'Open San Light', sans-serif;
        font-size: 12px;
        margin: 0 auto;
        padding: 10px 10px;
        color: #ffffff;
    }
    .p-2{
        margin: 0px;
        padding: 0px;
    }
}

