 <div class="tool-bar-wrapper d-flex align-items-center flex-row-reverse">

  <div routerLink="/get_help" class="get-help">
    <p>Help</p>
    <mat-icon>help</mat-icon>
  </div>
  <div class="basket">
    <div class="d-flex justify-content-center">
      <div class="p-2"><mat-icon>local_grocery_store</mat-icon></div>
      <div (click)="cartOption()" class="p-2"><cart-total></cart-total></div>
      <div (click)="cartOption()" class="p-2"><mat-icon>keyboard_arrow_down</mat-icon></div>
    </div>
    <!-- <span id="all-price"><p><cart-total></cart-total> <mat-icon>keyboard_arrow_down</mat-icon> </p></span> -->
  </div>
  <div class="account">
     <a *ngIf="!authenticated" (click)="clearMenu()" routerLink="/login">Login</a> 
     <!-- <a *ngIf="authenticated" (click)="logOut()" >Your Account</a>  -->

    <!-- <div *ngIf="authenticated" class="btn-group" dropdown>
      <a dropdownToggle  class="btn">
          <span>Your Account</span>  -->
          <!-- <span> <mat-icon>expand_more</mat-icon> </span>  -->
      <!-- </a>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="#">Your Vouchers</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/account/account_setting">Account Setting</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Your Preference</a></li>
        <li class="divider dropdown-divider"></li>
        <li *ngIf="authenticated" role="menuitem"><a class="dropdown-item" (click)="logOut()">logOut</a>
        </li>
      </ul>
    </div> -->

    <a *ngIf="authenticated" [matMenuTriggerFor]="menu">
     <span>Account</span>
       <!-- <span> <mat-icon>expand_more</mat-icon> </span> -->
    </a>
    <mat-menu #menu="matMenu" [overlapTrigger]="false"  yPosition="below" xPosition="before">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Your Vouchers</span>
      </button>
      <button routerLink="/account/account_setting" mat-menu-item >
        <mat-icon>settings</mat-icon>
        <span>Account Setting</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Your Preference</span>
      </button>
      <button (click)="logOut()" mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        <span>LogOut</span>
      </button>
    </mat-menu>


  </div>
  <div *ngIf="!authenticated" class="register" >
    <a routerLink="/register" (click)="clearMenu()">Register</a>
  </div>
  <div *ngIf="authenticated" class="orders">
    <a routerLink="/your_orders">Orders</a>
  </div>
  <!-- <div *ngIf="authenticated" class="favourites">
    <a href="">Favourites</a>
  </div> -->
  <div *ngIf="authenticated" class="shopping-list">
    <a routerLink="/shopping_list">Shopping_List</a>
  </div>
</div>

<div *ngIf="dropDown" id="cart-option">
  <span class="d-flex justify-content-between">
    <span class="p-2 d-flex"><a routerLink="/basket"><mat-icon>arrow_backward</mat-icon> View Basket</a></span>
    <span class="p-2 d-flex"><a (click)="goCheckOut()" >Checkout <mat-icon>arrow_forward</mat-icon> </a></span>
  </span>
  <p *ngIf="limitMsg">{{limitMsg}}</p>
</div>