.input-full-width{
    width: 100%;
}
.submit-btn{
    position: relative;
    float: right;
    right: 10px;
}
.jumbotron{
    width: 500px;
    margin: 0 auto;
}
.header{
    margin: 0 auto;
    text-align: center;
}