<secondary-navigation></secondary-navigation>
<div class="container">
    
    <div class="header">
        <h3>Reset Your Password</h3>
        <p>{{notify}}</p>
    </div>
    <div *ngIf="!hidePage" class="jumbotron card">
        
        <mat-input-container *ngIf="email" class="input-full-width">
        <span matPrefix><mat-icon>lock_outline</mat-icon> &nbsp;</span>
        <input type="email" value={{email}} matInput placeholder="Email">
        </mat-input-container>
        <mat-input-container class="input-full-width">
        <span matPrefix><mat-icon>lock_outline</mat-icon> &nbsp;</span>
        <input #password type="password" matInput placeholder="Enter New Password">
        </mat-input-container>
        <div class="submit-btn">
            <button mat-raised-button (click)="passwordReset(password.value)"> Reset Password</button>
        </div>
       
    </div>
</div>