<secondary-navigation></secondary-navigation>
<div class="container">
    
    <div class="header">
        <h3>Reset Your Password</h3>
        <p>{{notify}}</p>
    </div>
    <div *ngIf="!hidePage" class="jumbotron card">
        
        <md-input-container *ngIf="email" class="input-full-width">
        <span mdPrefix><md-icon>lock_outline</md-icon> &nbsp;</span>
        <input type="email" value={{email}} mdInput placeholder="Email">
        </md-input-container>
        <md-input-container class="input-full-width">
        <span mdPrefix><md-icon>lock_outline</md-icon> &nbsp;</span>
        <input #password type="password" mdInput placeholder="Enter New Password">
        </md-input-container>
        <div class="submit-btn">
            <button md-raised-button (click)="passwordReset(password.value)"> Reset Password</button>
        </div>
       
    </div>
</div>