
.go-top-container{
    // background-color: #ebeff1;
    background: transparent;
    display: none;
    .go-top{
        background: transparent;
        span{
            padding: 0px 5px;
            // background-color: #009688;
            height: 30px;
            border: 1px solid #009688;
            color: #009688;
            &:hover{
                color: #fff;
                cursor: pointer;
                background-color: #B2DFDB;
                
            }
        }
        mat-icon{
            font-size: 30px;
            color: #fff;
            width: 30px;
            height: 30px;
            background-color: #009688;
            &:hover{
                color: #000;
                cursor: pointer;
            }
        }
        
        
        
    }
}
div.social{
    i{
        width: 20px;
        height: 20px;
        font-size: 11px;
        padding: 5px;
        border: 1px solid #009688;
        border-radius: 50%;
        margin: 5px;
    }
}

div.footer-container{
    height: 250px;
    background-color: #263238; // #212121;
    color: #000;
}
div.p-2{
    flex: 1;
    h1{
        color: rgba(252, 252, 252, 0.8);
        font-size: 1em;
    }
    ul, li{
        font-family: 'Saira', sans-serif;
        font-weight: 200;
        margin: 0px;
        padding: 0px;
        font-size: 12px;
        color: #009688;
        a{
            text-decoration: none;
            color: #009688;
            &:hover{
                color: #00796B;
            }
        }
    }
}
div.acceptance-card{
    // width: 300px;
    span img{
        width: 100%;
        opacity: 0.8;
    }
    .left-card{
        width: 250px;
    }
    .ml-auto img{
        width: 100px;
        .visa img{
            width: 50px;
            opacity: 0.5;
        }
    }
}
.lower-footer{
    height: 60px;
    width: 100%;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    background-color: #100F0F;
    color: rgba(252, 252, 252, 0.8);
    a{
        color: #FF9100;
        opacity: 0.5;
        &:hover{
            color: #f15a23;
        }
    }
}