
<div class="footer-container">
    <div class="go-top-container">
        <div class="go-top container">
            <div class="d-flex justify-content-end go-button">

                  <span id="top" >Top</span><md-icon (click)="goTop()">expand_less</md-icon>

            </div>
        </div>
      </div>
  <div class="container">
      
      <div class="d-flex flex-row ">
        <div class="p-2">
            <h1>About uRGy Shop</h1>
            <ul>
              <li><a href="#">About URGY</a></li>
              <li><a href="#">You and Urgy</a></li>
              <li><a href="#">Contacts</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="p-2">
            <h1>More Info</h1>
            <ul>
              <li><a href="">How to shop</a></li>
              <li><a href="">Need help</a></li>
            </ul>
        </div>
        <div class="p-2 social">
            <h1>Social Media</h1>
            <ul>
              <li><a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                Facebook
              </a></li>
              <li><a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                Twitter
              </a></li>
              <li><a href="">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                Google+
              </a></li>
            </ul>
        </div>
      </div>
  </div>
</div>
<div class="lower-footer">
  <div class="container">
    <div class="d-flex">
      <span class="p-2"><small>&copy;URGY 2017 Allright Reserved</small></span>
      <span class="p-2"><small>Terms and Conditions</small></span>
      <span class="p-2"><small>Cookies and Privacy</small></span>
      <span class="p-2"><small>Site Map</small></span>
    </div>
  </div>
</div>