div.check-notice{
  height: 40px;
  background-color: #f15a23;
  margin-bottom: 5px;
  transition: height 2s;
  padding-right: 5px;
  p{
    margin: 0px;
    padding: 0px;
    padding: 5px 10px;
    font-size: 14px;
  }
  span md-icon{
    padding-top: 5px;

  }
}
div.shp-header{
    height: 40px;
    background-color: #fff;
    margin: 0px;
    padding:0px;
    padding: 10px 10px;
    border-bottom: 1px dotted #B0BEC5;
    
  }
  div.shp-header md-icon{
    color: #00897B;
  }
  div.shp-header h1{
    font-family: 'Open Sans Bold', san-sarif;
    font-size: 16px;
    margin-left: 10px;
    padding-top: 3px;
  }
  div.shopping-container{
    padding:0px;
    margin:0px;
    margin-bottom: 2px;
    background-color: #fff;
    
  }
  div.shopping-total{
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
    padding: 5px 10px;
  }
  div.shopping-total h2{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
  }
  div.your-post{
    margin: 0px;
    padding: 0px;
    padding: 5px 10px;

  }
  div.min-order{
    height: 30px;
    padding: 5px 10px;
    background-color: #FF9100;
  }

  div.check-button a{
    border-radius: 0px !important;
    width: 100%;
    background-color: #009688;
    text-decoration: none;
    &:hover{
      color: #ffffff;
    }
  }
   p.cart-head{
      padding: 0px;
      color:#fff;
      font-weight: bold;
  }