.goTop{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 8%;
    margin-bottom: 42px;
    opacity: 0;
    i{
        font-size: 2.5rem;
        background-color: darken(gray, 20%);
        border-radius: 50%;
        color: slategrey;
        &:hover{
            cursor: pointer;
            background-color: lighten(gray, 10%);
            // background-color: darken($primary-color-dark, 20%);
            color: #ffffff;
        }
    }
}
