<div class="jumbotron-clone" *ngIf="cart$" >
        
    <div *ngFor="let cat of cart$" class="colC">
        <div class="d-flex justify-content-between cart-list">
            <div class="p-2 img-hero">
                <img [src]="cat.imageUrl"  alt="prod-image">
            </div>
            <div class="p-2 line-hero">
                <div class="line-hero-inner d-flex justify-content-between">
                    <div class="p-2">
                        <p>{{cat.name}}</p>
                    </div>
                    <div class="p-2">
                        <p>qty: {{cat.qty}}</p>
                    </div>
                    <div class="p-2">
                        <p>{{cat.qty * cat.price | currency : 'GBP' :true}}</p>
                    </div>
                </div>

                <div class="line-hero-inner d-flex justify-content-between">
                    <div class="p-2">
                        <div class="d-flex qty-control">
                            <div class="p-2 dec" (click)="decrement(cat, $event)"><md-icon>remove</md-icon></div>

                            <div class="p-2 inc" (click)="increment(cat)"><md-icon>add</md-icon></div>
                        </div>
                    </div>
                    <div class="p-2 delet-but">
                        <p (click)="removeItem(cat)"><md-icon>delete</md-icon></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div *ngIf="toggle" id="more" class="more-cart" (click)="seeMoreCart()">
    <!-- <small>more</small> -->
    <md-icon>expand_more</md-icon>
    
</div>
<div *ngIf="toggle" id="less" class="less-cart" (click)="seeLessCart()">
    <md-icon>expand_less</md-icon>
    <!-- <small>less</small> -->
</div>