
<div class="page-rule page-container">
    <div class="container">
        <div  class="card-fetch d-flex flex-row">
            <div id="card-fetch" class="p-2 check-box card">
                <!-- <div class="card-header">
                    <h1>Payment Method</h1>
                    <div *ngIf="paymentMethod" class="proceed-button">
                        <a mat-raised-button (click)="goToDeliveryMethod()" >Proceed to delivery method</a> 
                    </div>
                </div> -->
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between active-color">
                        <span class="mr-auto">Payment Method</span>
                        <a *ngIf="paymentMethod" (click)="goToDeliveryMethod()">Proceed to delivery method</a>
                        <mat-icon *ngIf="paymentMethod" (click)="goToDeliveryMethod()">arrow_forward</mat-icon> 
                    </li>
                </ul>
            <div class="card-body">
                    <p *ngIf="notice"> <small>{{notice}}</small> </p>
                    <small style="color:lightgreen">{{paymentAdded}}</small>
                    <small *ngIf="!card && !paypal">you do not have payment method in your account.. pls add payment method now</small>
                    <mat-radio-group (change)="selectedMethod($event)"> 
                            <mat-radio-button *ngIf="card" value="card">
                                    <mat-list>
                                        <mat-list-item>
                                            <mat-icon mat-list-icon>credit_card</mat-icon>
                                            <h4 mat-line>{{card.cardType}}</h4>
                                            <p mat-line> {{card.maskedNumber}} </p>
                                        </mat-list-item>
                                    </mat-list>
                            </mat-radio-button>
                        
                            <mat-radio-button *ngIf="paypal" value="paypal">Paypal.. {{paypal.email}}</mat-radio-button>
                    </mat-radio-group>
            </div>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-row justify-content-center">
        <div class="p-2">
            <app-paypal (returnResult)="paymentMethodResult($event)"></app-paypal>
        </div>
        <div class="p-2">
            <a (click)="showCardForm()" mat-raised-button><mat-icon>credit_card</mat-icon> Checkout with card</a>
        </div>
    </div>
    <div id="pay-card">
        <pay-card (returnResult)="paymentMethodResult($event)" [customerId]="userId"></pay-card>
    </div>

    <div *ngIf="grayPage" class="pageProcessCover">
        <div class="center-point">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>