.card-form{
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}
div.example-form{
    width: 100% !important;
}
md-input-container{
    width: 100% !important;
}
div.example-full-width{
    width: 100% !important;
   
}
 input{
    width: 100% !important;
}
table tr td{
    width: 300px;
    
}
div.aside-check-cart{
    width: 100%;
}