<div id="link-container" class="link-container">
    <div id="link-inner" class="link-inner w3-card-2">
        <mat-list>
            <mat-list-item >
                <mat-icon (click)="goHome()" matListIcon>home</mat-icon>
                <a (click)="goHome()" matLine> Home </a>
            </mat-list-item>
            <mat-list-item >
                    <mat-icon (click)="goToCart()" matListIcon>add_shopping_cart</mat-icon>
                    <a (click)="goToCart()" matLine> Cart </a>
            </mat-list-item>
        </mat-list>
    </div>
</div>