.category-container{
    min-height: 650px;
    background-color: #ffffff;
    mat-toolbar{
        span mat-icon{
            padding: 0px;
            margin: 0px;
            font-size: 26px !important;
            margin-top: 5px;
        }
        span h1{
            color: #ffffff;
            margin: 0px;
            padding: 0px;
            margin-left: 20px;
            font-size: 16px;
            font-family: 'Open Sans Regular', sans-serif;
        }
        .more-vert{
            position: absolute;
            right: 10px;
            float: right;
        }
    
    }
}