div.input-group-2{
    margin: 0px;
    padding: 0px;
    form{
        margin: 0px;
        padding: 0xp;
    }
}
div.search-result-list{
    width: 220px;
    max-height: 200px;
    transition: height 2s;
    position: relative;
    right: -2px;
    top: -15px;
    z-index: 100;
    overflow-y: scroll;
    ul li {
        padding: 0px;
        margin: 0px;
        padding: 8px;
        border: none;
        
        border-bottom: 1px solid lightgrey;
        transition: .2s;
        span{
            font-size: 11px;
        }
        &:hover{
            padding-left: 12px;
            color: goldenrod;
            cursor: pointer;
            background-color: lightgrey;
        }
    }
    // overflow: scroll;
    md-list{
        padding: 0px !important;
        margin: 0px !important;
        md-list-item{
            padding: 0px !important;
            margin: 0px !important;
        }
    }
}
div.remove-list{
    background-color: red;
}