<div class="input-group-2">
  <form [formGroup]="searchForm">
    <input type="text" class="form-control" formControlName="search" placeholder="Search for...">
    <!--<span class="input-group-btn">
      <button class="btn btn-secondary" type="button">
        <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </span>-->
  </form>
</div>
<div class="search-result-list">
    <ul *ngIf="searchProducts" class="list-group">
      <li *ngFor="let result of searchProducts | async" class="list-group-item justify-content-between">
        <span><a (click)="findResult(result)">{{result.name}}</a></span>
        <!--<span class="badge badge-default badge-pill">14</span>-->
      </li>
    </ul>
</div>
