.page-content{
    // background-color: #ffffff;
    min-height: 500px;
    padding: 0px;
    margin: 0px;
    .order-container{
        .order-view{
            margin-top: 20px;
            max-width: 600px;
        }
    }
}

