.page-content{
    // background-color: #ffffff;
    min-height: 500px;
    padding: 0px;
    margin: 0px;
    .order-container{
        .order-view{
            margin-top: 20px;
            max-width: 700px;

            .xpandable-panel{
                p{margin-left: 20px;}
                span{
                    margin: 0 20px;
                }
                md-icon{
                    color: #009688;
                }
            }
        }
    }
}


