
<div class="page-content">
    <div class="container order-container">     
        <div class="card order-view">
            <div class="card-header">
                <h1>Your Orders</h1>
            </div>
        
            <div class="xpandable-panel">
                <p>You can view all order placed in the last 12 months</p>
                <mat-expansion-panel *ngFor="let order of (orders$ | async)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        Order no. {{order.order_no}}
                        </mat-panel-title>
                        <mat-panel-description>
                        <span>{{order.createdAt | date}}</span>
                        <span>Order Amount: {{order.amount | currency:'GBP':true}}</span>
                        <span><mat-icon>check_circle</mat-icon></span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>{{order.note}}</p>
                    
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>