
.page-wrapper{
    // display: flex;
    .main-content{
        .product{
            position: relative;
            img{padding: 5px;}

            md-card-actions{
                margin: 0 auto;
                text-align: center;
                padding: 0px;
            }
            p{
                text-align: center;
                font-size: 12px;
                padding: 0px;
                margin: 0px;
            }
            p#title{
                font-weight: bold
            }
            p#price{
                font-size: 16px;
                font-weight: bold
            }
            
            md-card-actions{
                button{}
            }
            .inCart-wrapper{
                position: absolute;
                
                p#inCart{
                    text-align: center;
                    margin: 5px;
                    padding: 0px 5px;
                    width:100%;
                    background-color: lightgreen;
                }
            }
        }
    }
    .side-bar{
       padding-left: 20px;
    }
}
.row, .col {
    margin: 0px;
    padding: 0px;
    padding: 2px;
}

//Categories and Advert Styling
.list-menu{
    height: 200px;
    background-color: #f5f5f5;
    margin-bottom: 10px;

    .advert{
        height: 150px;
        background-color: red;
    }
}