<primary-navigation></primary-navigation>
<div *ngIf="userAccount" class="container">
  <span><h2>Account Setting</h2></span>
  <div *ngIf="updatedNotify" class="alert alert-success" role="alert">
    <strong>{{updatedNotify}}</strong>
  </div>
  <div class="setting-container">
    <div class="card">
      <div class="card-header">
        <h1>Personal Information</h1>
      </div>
      <div class="card-block">
        <div *ngIf="!showPersonalInfo">
          <div class="block-title" >
             <h3><strong>Account no:</strong> <strong *ngIf="userAccount.ac_no">{{userAccount.ac_no}}</strong></h3>
          </div>
          
          <h2><strong>{{userAccount.title}}</strong> <span>{{userAccount.first_name}}</span> <span>{{userAccount.last_name}}</span></h2>
        
          <h3>Email: {{userAccount.email}}</h3>
          <h3>Home Telephone: {{userAccount.telephone.home}}</h3>
          <h3>Mobile: {{userAccount.telephone.mobile}}</h3>
        </div>
        
         <div class="d-flex p-2">
           <a id="button" md-raised-button>Change Password</a>
           <a (click)="pInfoEditForm(userAccount.email)" role="button" md-raised-button> <md-icon>mode_edit</md-icon> Personal Details</a>
         </div>
         <div *ngIf="pInfoEdit" class="edit-p-info">
            <account-edit (notify)="onInfoUpdate($event)" [acId]="accountIDE"></account-edit> 
         </div>
      </div>
    </div>
    <div class="card p-card-info jumbotron2">
      <h1>Payment Information</h1>
      <a md-raised-button id="cardButton" (click)="addCardDetail()" >Add New Card</a>
       <div *ngIf="!addNewCard" class="cc-card">
        <img src="assets/card.png" alt="">
      </div> 
      <pay-card *ngIf="addNewCard" [customerId]="customerID"></pay-card>
  
    </div>
   
  </div>
   <div *ngIf="userAddress" class="card address-component">
     <h1><small><a (click)="addressEditForm(userAccount._id)" md-raised-button> <md-icon>mode_edit</md-icon> edit </a></small> <strong *ngIf="userAddress.address_type">{{userAddress.address_type}}</strong> Address</h1>
     <div class="ac-address-container">
     
        <div *ngIf="addressEdit" class="ac-address-form">
          <account-address-edit (notify)="onAddressUpdate($event)" [acId]="accountID"></account-address-edit>
        </div>  
      <div [class.card]="datacard" class="ac-address-data">
          <div class="address">
            <!-- <h2>Address:</h2> -->
            <h3>{{userAddress.address}}</h3>
          </div>
          <div class="address">
            <!-- <h2>Address2:</h2> -->
             <h3>{{userAddress.address2}}</h3>
          </div>
          <div class="address">
            <!-- <h2>City:</h2> -->
            <h3> {{userAddress.city}}</h3>
          </div>
          <div class="address">
            <!-- <h2>Post Code:</h2> -->
            <h3>{{userAddress.post_code}}</h3>
          </div>
          <div class="address">
            <!-- <h2>Country:</h2> -->
            <h3> {{userAddress.country}}</h3>
          </div>
      </div>
    </div>
   </div>
  
</div>
