<h1>Select Category</h1>
<div class="selection-container">
    <mat-form-field>
        <mat-select [(value)]="selected" placeholder="Select Category">
            <!-- <mat-option>None</mat-option> -->
            <mat-option *ngFor="let cat of category$ | async" [value]="cat">
               {{cat.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="selected">
        <span (click)="back()">
            <mat-icon>arrow_back</mat-icon>
            Back
        </span>
        <span *ngIf="selected">
            <p>You selected: {{selected.name}}</p>
        </span>
        <span *ngIf="selected" (click)="next()" >
            Next
            <mat-icon>arrow_forward</mat-icon>
        </span>
    </div>
   
</div>