.input-full-width{
    width: 100%;
}
.billing-form {
  max-width: 700px;
}

.example-full-width {
  width: 100%;
}
.contact-permit{
    margin: 0px;
    padding: 0px;
    padding: 10px 20px;
    margin-bottom: 20px;
    h2{
        margin: 0px;
        font-size: 18px;
        margin: 5px 0px;
    }
    p{
        font-size: 12px;
    }
}