<div id="sticky-menu" class="sticky-menu-container w3-card-2">
    <div class="container">
        <md-toolbar> 
            <div class="sub-toolbar">
                    <div class="side-menu-btn">
                        <a (click)="goTop()" md-icon-button>
                            <md-icon>keyboard_arrow_up</md-icon>
                        </a>
                    </div>
                </div>
            <md-toolbar>
                <div class="item1"><h1>uRGy</h1></div>
                <div class="item2"><product-search></product-search></div>
                <div class="item3">
                    <div class="notify"> 
                        <notify></notify>
                    </div>
                </div>
            </md-toolbar>
        </md-toolbar>
    </div>
</div>

<div id="sub-menu" class="nav-menu container-fluid">
    <div class="container">
        <div class="nav-content d-flex flex-row">
            <span hoverMenu class="nav-item" *ngFor="let dept of departments">
                <a class="nav-link" (click)="selectedDept(dept, $event)">{{dept.name}}</a>
            </span>
            <span selectMenu id="how-to">
                <a class="nav-link" (click)="showHowTo()" >How to?<span class="sr-only">(current)</span></a>
            </span>
            <span hoverMenu id="brand-select" (mouseleave)="getBrands($event)" (mouseenter)="getBrands($event)" class="nav-item">
                <a class="nav-link" >Brands<span class="sr-only">(current)</span></a>
            </span>
        </div>
    </div>
</div>

<div selectMenu class="howTo-video">
    <div class="how-to-do">
        <how-to></how-to>
    </div>
</div>
<div class="brand-list" (mouseleave)="getBrands($event)" (mouseenter)="getBrands($event)">
    <div class="container">
        <div class="brands d-flex flex-rows flex-nowrap">
            <div id="brand-item" class="p-2" *ngFor="let brand of (brands$ | async)">
                <div (click)="searchBrand(brand.name)">
                    <p><strong>{{brand.name}}</strong></p>
                    <small>{{brand.contained_product}}</small>
                </div>
            </div>
        </div>
        <div>
            <p>Search product by its brand</p>
        </div>
    </div>
</div>

