.sub-toolbar{
    display: flex;
    display: -webkit-flex;
    height: 40px;
    background-color:#000;
    line-height: 40px;
    color:#fff;
}
nav{
    height: 40px;
    background-color: #000;
    
}
.navbar ul li a{
    color: lightslategrey;
    height: 40px;
}
.navbar ul li a:hover{
    background-color: #f5f5f5;
    color: lightslategrey !important;
    height: 40px;
    cursor: pointer;
}

.active {
    // background-color: #f5f5f5;
    // height: 40px;
    // color: #000 !important; 
}
.authentication{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10000;
}
.authentication.login-provider{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    background-color: slategrey;
    
}
.authentication.login-provider p{color: #fff;}
