
  <div class="md-toolbar">
    <div class="container">
      <div class="row top-menu">
        <div class="branded col-lg-8">
          <div id="brand-link">
            <a routerLink="/home"><h1>Shop</h1></a>
          </div>
        </div>
        
        <div class="right-util col-lg-4"> 
          <div class="tool-bar-top">
            <div class="tool-bar-wrapper">
              <div class="sign-in">Login</div>
              <div class="basket">
                <md-icon>local_grocery_store</md-icon>
              </div>
              <div class="get-help">Help</div>
            </div>
          </div>

          <div class="search-form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
              </div>
          </div>
        </div>
    </div>
   </div>
</div>


