<div class="nav-container w3-card-2">
  <div class="container">
    <mat-toolbar>
      <div class="nav-inner-container flex-container">
        <div class="brand">
            <a routerLink="/" ><h1>uRGy</h1></a>
        </div>
        
        <div class="check-progress hide-on-mobile">
          <span id="billing">
            Billing Infomation
            <!-- <mat-icon *ngIf="!billIcon">keyboard_arrow_right</mat-icon> -->
            <mat-icon *ngIf="billIcon">done</mat-icon>
          </span>
          <span id="payment">Payment Method 
              <!-- <mat-icon *ngIf="!payIcon">keyboard_arrow_right</mat-icon> -->
              <mat-icon *ngIf="payIcon">done</mat-icon>
          </span>
          <span id="delivery">Delivery Method 
              <!-- <mat-icon *ngIf="!delivIcon">keyboard_arrow_right</mat-icon> -->
              <mat-icon *ngIf="delivIcon">done</mat-icon>
          </span>
          <span id="order">Place Order 
              <!-- <mat-icon *ngIf="!ordIcon">keyboard_arrow_right</mat-icon> -->
              <mat-icon *ngIf="ordIcon">done</mat-icon>
          </span>
          <span id="finish">Finish 
              <mat-icon *ngIf="finIcon">done</mat-icon>
          </span>
        </div>
        <div class="store hide-on-mobile">
          <!-- <span>Shop</span> -->
          <img src="assets/shopping-icon.png" alt="">
        </div>
        <!-- <span>
            <a (click)="sendMail()" class="nav-link" >Mail</a>
        </span> -->
      </div>
    </mat-toolbar>
  </div>
</div>
