.delivery-container{
  margin-top: 2em;
  .delivery{
    width: 100%;
    margin: 0 5px;
  }
  .aside-comp{
    width: 100%;
    margin: 0 5px;
  }
}

.input-full-width{
    width: 100%;
}
.delivery-form {
  width: 600px;
}

.example-full-width {
  width: 100%;
}
