.page-container{
    margin-top: 70px;
    min-height: 500px;
    .mob-product-wrapper{

        .product{
            position: relative;
            background-color: #ffffff;
            margin-top: 5px;
            overflow: hidden;
            // border-bottom: 1px solid gray;
            .p-image{
                img{
                    width: 100px;
                }
                #inCart{
                    padding: 10px;
                    p{
                     font-family: 'Dosis', sans-serif;
                     font-size: 12px; 
                     text-align: center;  
                    }
                }
            }
            .p-caption{
                h1, p{
                    margin: 0px;
                    padding: 0px;
                }
                h1{
                    font-size: 16px;
                    font-family: 'Open Sans Regular', sans-serif;
                    margin-bottom: 10px;
                }
                a{
                    margin-top: 20px;
                }
                p#price{
                    font-weight: bold;
                }
            }
            .offer{
                position: absolute;
                background-color: red;
                height: 20px;
                width: 100px;
                margin-left: -30px;
                transform: rotateZ(-45deg);
                p{
                    text-align: center;
                    font-family: 'Open Sans Regular', sans-serif;
                    color: #ffffff;
                    line-height: 20px;
                }
            }
        }
    }
}