@import '~@angular/material/theming';
@include mat-core();

// Define the default theme (same as the example above).
$shop-app-primary: mat-palette($mat-indigo);
$shop-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$shop-app-theme:   mat-light-theme($shop-app-primary, $shop-app-accent);

// Include the default theme styles.
@include angular-material-theme($shop-app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
}

