.order-container{
    margin: 0 auto;
    padding-top: 20px;
    max-width: 700px;

    .list-group{
        .list-group-item{
            border-radius: 0;
            background-color: #00796B;
            color: #ffffff;
            height: 50px;
            mat-icon{
              // line-height: 50px;
            }
            span{
              margin-right: 10px;
              font-family: 'Open Sans Light', sans-serif;
              // line-height: 50px;
            }
        }
    }
}


.card-form{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
div.example-form{
    width: 100% !important;
}
mat-input-container{
    width: 100% !important;
}
div.example-full-width{
    width: 100% !important;
   
}
 input{
    width: 100% !important;
}
table tr td{
    width: 300px;
    
}
div.aside-check-cart{
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}
// .pageProcessCover{
//     position: fixed;
//     width: 100%;
//     top: 0px;
//     background-color: #fff;
//     opacity: 0.4;
//     height: 100vh;
//     z-index: 100;
//     margin: 0 auto;
//     .center-point{
//         position: absolute;
//         top: 45%;
//         left: 45%;
//         margin: 0 auto;
//     }
// }