
<div class="footer-container hide-on-mobile">
    <!-- <div class="go-top-container">
        <div class="go-top container">
            <div class="d-flex justify-content-end go-button">

                <span id="top" >top</span><mat-icon (click)="goTop()">expand_less</mat-icon>

            </div>
        </div>
    </div> -->
    <div class="footer-main"> 
        <div class="container">
            <div class="footer-layout flex-container">
                <div class="about">
                    <h1>About uRGy Shop</h1>
                    <ul>
                    <li><a href="#">About URGY</a></li>
                    <li><a href="#">You and Urgy</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="info">
                    <h1>More Info</h1>
                    <ul>
                    <li><a href="">How to shop</a></li>
                    <li><a routerLink="/shop/get_help">Need help ?</a></li>
                    <li><a routerLink="/shop/instruction_video">Instruction Videos</a></li>
                    <li><a [style.color]="'red'" href="/shop/products/offer">Best Offer</a></li>
                    </ul>
                </div>
                <div class="social">
                    <h1>Social Media</h1>
                    <ul>
                    <li><a href="">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Facebook
                    </a></li>
                    <li><a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        Twitter
                    </a></li>
                    <li><a href="">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                        Google+
                    </a></li>
                    </ul>
                </div>
            </div>
            <div class="acceptance-card">
                <div class="d-flex justify-content-start">
                    <span class="p-2 d-flex left-card">
                        <span class="p-2">
                            <img alt="Credit Card Logos" title="Credit Card Logos" src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_8.gif"  />
                        </span>
                        <span class="p-2">
                            <img alt="Credit Card Logos" title="Credit Card Logos" src="http://www.credit-card-logos.com/images/mastercard_credit-card-logos/mastercard_logo_4.gif"  />
                        </span>
                        <span class="p-2">
                            <img alt="Credit Card Logos" title="Credit Card Logos" src="http://www.credit-card-logos.com/images/american_express_credit-card-logos/american_express_logo_1.gif"  />
                        </span>
                        <span class="p-2">
                            <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-150px.png" border="0" alt="PayPal Logo">
                        </span>
                    </span>
                    <span class="p-2 ml-auto">
                        <span class="p-2 visa">
                            <!-- <img alt="Credit Card Logos" title="Credit Card Logos" src="http://www.credit-card-logos.com/images/visa_credit-card-logos/verified_by_visa.gif" /> -->
                        </span>
                        <span class="p-2">
                            <img src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_payments_by_pp_2line.png" border="0" alt="Payments by PayPal">
                        </span>
                    </span>
                    
                    </div>
            </div>
        </div>
    </div>
  <div class="lower-footer">
        <div class="container">
          <div class="d-flex">
            <span class="p-2"><small>&copy;URGY 2017 Allright Reserved</small></span>
            <span class="p-2"><small><a routerLink="/shop/terms_conditions">Terms and Conditions</a></small></span>
            <span class="p-2"><small><a routerLink="/shop/cookie_privacy">Cookies and Privacy</a></small></span>
            <span class="p-2"><small><a routerLink="/shop/site_map">Site Map</a></small></span>
          </div>
        </div>
      </div>
</div>
