.mobile-page{
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
    .mobile-slider{
        // position: relative;
        margin-bottom: 10px;
        width: 100%;


    }
    .delivery-check{
        height: 120px;
        background-color: #ffffff;
        margin: 0 5px;
        a{
            text-align: center;
            margin-left: 20px;
        }
        h1, p{
            margin: 0px;
            padding: 0px;
        }
        h1{
            font-size: 18px;
            font-family: 'Open Sans Regular', sans-serif;
            text-align: center;
            padding-top: 5px;
        }
        p{
            font-size: 12px;
            padding: 5px 20px;
        }
    }
    .product-cat{
        margin: 0px !important;
        padding: 0px !important;
        margin: 5px !important;
        flex-wrap: wrap;
        justify-content: space-between;
        .cat-list{
            flex-direction: column;
            width: 220px;
            height: 120px;
            margin: 0px !important;
            padding: 0px !important;
            background-color: #ffffff;
            margin-bottom: 5px !important;
            // margin: 10px !important;
       
            img{
                width: 70%;
                margin: 0px !important;
                padding: 0px !important;
                margin: 0 auto !important;
                margin-top:10px !important;
                overflow: hidden !important;
            }
            h1{
                text-align: center;
                font-size: 14px;
                margin: 0px !important;
                padding: 0px !important;
                font-family: 'Open Sans Light', sans-serif;
                margin-top: 5px !important;
                margin-bottom:10px !important;
            }
        }
        
    }

    .buyer-protect-container{
        height: 100px;
        width: 100%;
        margin-bottom: 20px;
        .buyer-protect{
            height: 100px;
            margin: 0px 5px;
            background-size: cover;
            padding: 10px 20px;

            p{
                margin: 0px;
                padding: 0px;
                font-size: 12px;
                margin-left: 20px;
                color: rgb(73, 81, 90);
            }
            mat-icon{
                color: lightslategray;
            }
            span h1{
                font-size: 16px;
                margin: 0px;
                padding: 0px;
                margin-top: 5px;
                margin-left: 10px;
            }
        }
    }
    .mob-foot{
        height: 50px;
        background-color: #ffffff;
        margin: 0px;
        a{
            margin: 0 10px;
            color: lightslategrey;
        }
    }
    
}

//Media query start here
@media screen and (width: 375px) {
    .mobile-page{
        div.product-cat{
            margin: 0px !important;
            padding: 0px !important;
            margin: 5px !important;
            .cat-list{
                width: 180px;
                height: 120px;
                margin: 0px !important;
                padding: 0px !important;
                // background-color: red;
                margin-bottom: 5px !important;
                // margin: 10px !important;
            }
        }
    }
}
@media screen and (min-width: 412px) and (max-width: 414px) {
    .mobile-page{
        div.product-cat{
            margin: 0px !important;
            padding: 0px !important;
            margin: 5px !important;
            .cat-list{
                width: 200px;
                height: 120px;
                margin: 0px !important;
                padding: 0px !important;
                // background-color: red;
                margin-bottom: 5px !important;
                // margin: 10px !important;
            }
        }
    }
}
@media screen and(width: 360px) {
    .mobile-page{
        div.product-cat{
            margin: 0px !important;
            padding: 0px !important;
            margin: 5px !important;
            .cat-list{
                width: 170px;
                height: 120px;
                margin: 0px !important;
                padding: 0px !important;
                // background-color: red;
                margin-bottom: 5px !important;
                // margin: 10px !important;
            }
        }
    }
}
@media screen and (width: 320px) {
    .mobile-page{
        div.product-cat{
            margin: 0px !important;
            padding: 0px !important;
            margin: 5px !important;
            .cat-list{
                width: 153px;
                height: 120px;
                margin: 0px !important;
                padding: 0px !important;
                // background-color: red;
                margin-bottom: 5px !important;
                // margin: 10px !important;
            }
        }
    }
}