//Progress Bar Section
// .example-h2 {
//   margin: 10px;
// }
// .progress-bar {
//     height: 1rem;
//     color: #fff;
//     background-color: transparent;
// }
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 5px;
}

.example-margin {
  margin: 0 5px;
}

.register-container{
    max-width: 700px;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
    .input-full-width{
        width: 100%;
    }
    .submit-button{
        position: relative;
        float: right;
    }
    .search-head{
        background-color: #ffffff;
        margin: 0px;
        padding: 0px;
        padding: 10px 20px;
    }
}
div.search-postcode{
    .postError{
        border: 1px solid brown;
        
    }
}
div.search-result{
    margin-top: 20px;
}
p#post-err{
    font-size: 11px;
    color: brown;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 80px;
}
.input-full-width{
    width: 100%;
}
.registration-form {
  max-width: 700px;
}

.example-full-width {
  width: 100%;
}
.contact-permit{
    margin: 0px;
    padding: 0px;
    padding: 10px 20px;
    margin-bottom: 20px;
    h2{
        margin: 0px;
        font-size: 18px;
        margin: 5px 0px;
    }
    p{
        font-size: 12px;
        color: lightslategrey;
    }
}
.form-sec-1{
    margin: 0px;
    margin-bottom: 10px;
    background-color: #ffffff;;
    // border-color: lightgrey !important;
}
.more-info{
    background-color: #ffffff;
}