<div class="nav-container w3-card-2">
  <div class="container">
    <md-toolbar>
      <div class="nav-inner-container d-flex flex-row justify-content-between">
        <div class="brand">
            <a (click)="goHome()" >uRGy</a>
        </div>
        
        <div class="check-progress">
          <span>Billing Infomation></span>
          <span>Payment Method ></span>
          <span>Delivery Method ></span>
          <span>Place Order ></span>
          <span>Finish</span>
        </div>
        <div class="store">
          <!-- <span>Shop</span> -->
          <img src="assets/shopping-icon.png" alt="">
        </div>
      </div>
    </md-toolbar>
  </div>
</div>
