<div class="billing">
    <h2>Billing Information (Guest)</h2>
    <form class="guest-form" [formGroup]="BForm" (ngSubmit)="createCustomer(BForm.value)">
        <!--<mat-input-container class="example-full-width">
            <input matInput placeholder="Company" placeholder="company">
        </mat-input-container>-->
        <p>
            <mat-select formControlName="title" placeholder="Select Title">
                <mat-option *ngFor="let title of titles" [value]="title">
                    {{ title }}
                </mat-option>
            </mat-select>
        </p>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td><mat-input-container class="example-full-width">
                <input formControlName="first_name" matInput placeholder="First name">
                </mat-input-container></td>
                <td><mat-input-container class="example-full-width">
                <input formControlName="last_name" matInput placeholder="Last Name">
                </mat-input-container></td>
            </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td><mat-input-container class="example-full-width">
                <input formControlName="email" type="email" matInput placeholder="Email">
                </mat-input-container></td>
                
            </tr>
            <tr formGroupName="telephone">
                
                <td><mat-input-container class="example-full-width">
                <input formControlName="home" type="telephone" matInput placeholder="Home telephone">
                </mat-input-container></td>
                <td><mat-input-container class="example-full-width">
                <input formControlName="mobile" type="telephone" matInput placeholder="Mobile phone">
                </mat-input-container></td>
            </tr>
        </table>

        <div class="jumbotron" formGroupName="billing_address">
            <p>
                <mat-input-container class="example-full-width">
                <textarea formControlName="address" matInput placeholder="Address"></textarea>
                </mat-input-container>
                <mat-input-container class="example-full-width">
                <textarea formControlName="address2" matInput placeholder="Address 2"></textarea>
                </mat-input-container>
            </p>

            <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-input-container class="example-full-width">
                <input formControlName="city" matInput placeholder="City">
                </mat-input-container></td>
                <td><mat-input-container class="example-full-width">
                <input formControlName="country" matInput placeholder="Country">
                </mat-input-container></td>
                <td><mat-input-container class="example-full-width">
                <input formControlName="post_code" matInput placeholder="Postal Code" >
                <!--<mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>-->
                </mat-input-container></td>
            </tr></table>
        </div>

    
        <mat-input-container class="example-full-width">
            <input formControlName="selected_address" matInput placeholder="selected Address">
        </mat-input-container>
        <div class="jumbotron contact-permit">
            <h2>Contact Permission</h2>
            <p>We'd love to send you money-off coupons, exclusive offers and the latest info from us by email, post, SMS, phone and other electronic means. We'll always treat your personal details with the utmost care and will never sell them to other companies for marketing purposes.</p>
            <mat-radio-group (change)="onChnage($event)">
                <mat-radio-button value="yes">Yes please, I'd like to hear about offers and services.</mat-radio-button>
                <br>
                <mat-radio-button value="no">No thanks, I don't want to hear about offers and services.</mat-radio-button>
            </mat-radio-group>
            <input hidden formControlName="contact_permission" matInput placeholder="Permission">
        </div>
       <p>
            <mat-radio-group (change)="onChange($event)">
                <mat-radio-button value="Deliver to this Address">Deliver to this Address</mat-radio-button>
                <br>
                <mat-radio-button value="Deliver to different address">Deliver to different address</mat-radio-button>
            </mat-radio-group>
        </p>

        <div *ngIf="differentAddress" formGroupName="delivery_address">
            <h2>Add Delivery Address</h2>
            <mat-input-container class="example-full-width">
                <input formControlName="full_name" matInput placeholder="Fullname">
            </mat-input-container>
             <p>
                <mat-input-container class="example-full-width">
                <textarea formControlName="address" matInput placeholder="Address"></textarea>
                </mat-input-container>
                <mat-input-container class="example-full-width">
                <textarea formControlName="address2" matInput placeholder="Address 2"></textarea>
                </mat-input-container>
            </p>

            <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-input-container class="example-full-width">
                <input formControlName="city" matInput placeholder="City">
                </mat-input-container></td>
                <td><mat-input-container class="example-full-width">
                <input formControlName="country" matInput placeholder="Country">
                </mat-input-container></td>
                <td><mat-input-container class="example-full-width">
                <input formControlName="post_code" matInput placeholder="Post Code" >
                </mat-input-container></td>
            </tr></table>

        </div>
        <mat-checkbox formControlName="terms" >I've read and accepted the Terms & Conditions</mat-checkbox>
        <br>
        <mat-checkbox formControlName="age_limit">I'm over 18 years old</mat-checkbox>
        <div class="submit-btn">
            <button mat-raised-button type="submit" >Submit</button>
        </div>
    </form>
</div>