div.head-title{
    margin: 0 auto;
    // max-width: 800px;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    padding-left: 20px;
}
.login-form{
    margin: 0 auto;
    max-width: 500px;
    min-height: 750px;
    background-color: #ffffff;
    margin-top: 0px;
    .list-group{
        .list-group-item{
            border-radius: 0;
            background-color: #00796B;
            color: #ffffff;
            height: 50px;
            mat-icon{
              // line-height: 50px;
            }
            span{
              margin-left: 10px;
              font-family: 'Open Sans Light', sans-serif;
              // line-height: 50px;
            }
        }
    }
    .signup-link{
        margin-top: 0px;
        padding: 20px;
        // border-right: 1px solid lightgray;
        p{
            font-size: 12px;
        }
        .postError{
            border-left: 1px solid red;
           
        }
        .p-2-1, .p-2-2{
            margin-right: 10px;
            
        }
        a{
            background-color: #00796B !important;
            color: #ffffff;
        }
    }
    .login-link{
        margin-top: 0px;
        padding: 20px;
        .input-full-width, .mat-form-field{
             width: 100%;
        }
        
        .submit-button{
            position: relative;
            float: right;
            button{
                background-color: #00796B !important;
                color: #ffffff;
            }
            a{
                margin-right: 20px; 
                text-decoration: underline;
                &:hover{
                    cursor: pointer;
                    color: red;
                }
            }
        }

    }
    
}
p#errorMsg{
    font-size: 11px;
    color: brown;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}
p#post-err{
    font-size: 11px;
    color: brown;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 80px;
}
div.forgott-password{
    position: relative;
    width: 100%;
    padding: 20px;
    mat-icon{
        position: absolute;
        top: 0;
        right: 10px;
        margin-top: 10px;
    }
}

